[Unit]
Description=Redsocks2 transparent SOCKS proxy redirector
Documentation=man:redsocks(8)
Documentation=file:/usr/share/doc/redsocks/README.gz
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/default/redsocks2
ExecStartPre=/usr/sbin/redsocks2 -t -c ${CONFFILE}
ExecStart=/usr/sbin/redsocks2 -c ${CONFFILE}

[Install]
WantedBy=multi-user.target